*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;

  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(186, 190, 245, 1) 0%,
    rgba(192, 192, 245, 1) 33.1%,
    rgba(218, 203, 246, 1) 90%
  );
  position: relative;
}
/* --Body Style-- */
.container {
  width: 54rem;
  height: 68rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 5px 15px;
}

.watch-bg {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 9px;
  backdrop-filter: blur(40px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.query {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* --Clock Style-- */
.outer-circle {
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  width: 21rem;
  height: 21rem;
  border-radius: 50%;

  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(186, 190, 245, 1) 0%,
    rgba(192, 192, 245, 1) 33.1%,
    rgba(218, 203, 246, 1) 90%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: #fff;
  font-size: 2.3rem;
}

.hour {
  font-size: 4.3rem;
}

.minute {
  font-size: 3.4rem;
}

.second {
  font-size: 2.3rem;
}

/* --Buttons Style-- */
.button-wrapper {
  width: 25rem;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.button {
  letter-spacing: 0.12px;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(186, 190, 245, 1) 0%,
    rgba(192, 192, 245, 1) 25.1%,
    rgba(218, 203, 246, 1) 90%
  );
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  transition: all 0.2s;
}

.button:hover {
  background: rgba(255, 255, 255, 0.05);
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 10px;
}

/* --Laps Style-- */
.laps {
  list-style: none;
  color: #fff;
  width: 31rem;
  height: 19rem;
  overflow: auto;
  position: relative;
  padding: 0 0.8rem;
  /* margin: 0 auto; */
  /* margin: 0 1rem 1rem; */
}

.lap-item {
  display: block;
  width: 100%;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 5rem;
  margin-bottom: 1rem;
  /* margin: 0 1rem 1rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  transition: all 0.3s;
}
.lap-item:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0px -50px 36px -28px inset;
  cursor: pointer;
}
.lap-number {
  display: inline-block;
  color: #fff;
}

.time-stamp {
  display: inline-block;
  /* margin-left: 2.5rem; */
}
.time-comparison {
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
}

.laps::-webkit-scrollbar {
  width: 1rem;
}
.laps::-webkit-scrollbar-track {
  background-color: #eee;
}
.laps::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(161, 166, 241), rgb(199, 199, 247));
  border-radius: 9px;
}

.lap-clear-btn {
  font-size: 1.5rem;
  display: block;
  margin-top: 3rem;
  width: 9.5rem;
  padding: 1rem;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5rem;
}
